<header>
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand" routerLink="/News">
                        <img class="rounded-circle logo" src="assets/images/AstronewsLogo.png"
                            alt="Astronaut floating in space with newspaper with Astronews title in hands. This is website logo">
                        Astronews
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/News">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/MarsPhotos">Mars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/NasaGallery">NASA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/APOD">APOD</a>
                </li>
            </ul>
        </div>
    </nav>
</header>