<footer>
  <div>
    <div>
      <div class="flex-container">
        <h5>Quick links</h5>
        <ul class="flex-container footer-list">
          <li>
            <a
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/News"
              >News</a
            >
          </li>
          <li><a routerLink="/MarsPhotos/Curiosity">Mars/Curiosity</a></li>
          <li><a routerLink="/MarsPhotos/Opportunity">Mars/Opportunity</a></li>
          <li><a routerLink="/MarsPhotos/Spirit">Mars/Spirit</a></li>
          <li><a routerLink="/NasaGallery">NASA</a></li>
          <li><a routerLink="/APOD">APOD</a></li>
        </ul>
      </div>
      <div class="flex-container footer-feedback">
        <h5>Feedback</h5>
        <ul class="flex-container footer-list">
          <li>
            <a
              href="https://github.com/Needlide/Astronews.UI"
              target="_blank"
              rel="noopener noreferrer"
              ><i aria-hidden="true"></i
            ></a>
          </li>
          <li><a href="mailto:example@gmail.com">example@gmail.com</a></li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <p>&copy; 2023 Astronews. All rights reserved.</p>
      </div>
      <div>
        <p>Website by Needlide</p>
      </div>
    </div>
  </div>
</footer>
