footer {
  background-color: var(--second-bg-color);
  color: var(--second-text-color);
  border-top: 2px solid var(--highlight-color);
  padding: 10px 0px 20px 80px;
  width: 100vw;
}

.nav-footer-list a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-link {
  color: var(--footer-link-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--second-link-hover-color);
  transition: color 300ms;
}

.flex-container {
  display: flex;
  align-items: center;
}

.nav-footer-list > li:not(:last-child) {
  margin-right: 15px;
}

.footer-list > li:not(:last-child) {
  margin-right: 15px;
}

.footer-feedback {
  margin-bottom: 15px;
}
