<footer>
  <div>
    <div>
      <nav class="flex-container">
        <ul class="flex-container nav-footer-list">
          <li>
            <h5>Quick links</h5>
          </li>
          <li>
            <a
              class="nav-link"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/News"
              >News</a
            >
          </li>
          <li>
            <a
              class="nav-link"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/MarsPhotos/Curiosity"
              >Curiosity</a
            >
          </li>
          <li>
            <a
              class="nav-link"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/NasaGallery"
              >NASA</a
            >
          </li>
          <li>
            <a
              class="nav-link"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/APOD"
              >APOD</a
            >
          </li>
        </ul>
      </nav>
      <div class="flex-container footer-feedback">
        <ul class="flex-container footer-list">
          <li>
            <h5>Feedback</h5>
          </li>
          <li>
            <a
              class="nav-link"
              href="https://github.com/Needlide/Astronews.UI"
              target="_blank"
              rel="noopener noreferrer"
              >GitHub</a>
          </li>
          <li>
            <a class="nav-link" href="mailto:astronews.contact.me@gmail.com"
              >astronews.contact.me&commat;gmail.com</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <div>
        <p>&copy; 2024 Astronews. All rights reserved.</p>
      </div>
      <div>
        <p>Website by <a href="https://github.com/Needlide">Needlide</a></p>
      </div>
    </div>
  </div>
</footer>
