footer {
  background-color: var(--second-bg-color);
  color: var(--second-text-color);
  border-top: 2px solid var(--highlight-color);
  padding: 10px 0px 20px 80px;
  width: 100vw;
}

.active-link {
  color: var(--second-link-hover-color);
  border-bottom: 2px solid var(--second-link-hover-color);
}

.nav-footer-list h5 {
  margin-right: 10px;
}

.nav-footer-list a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-link {
  color: var(--footer-link-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--second-link-hover-color);
  transition: color 300ms;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-footer-list > li:not(:last-child) {
  margin-right: 15px;
}

.footer-list > li:not(:last-child) {
  margin-right: 15px;
}

.footer-feedback {
  margin-bottom: 15px;
}

.copyright {
  padding-left: 40px;
}

@media (max-width: 480px) {
  .nav-footer-list {
    flex-direction: column;
    gap: 15px;
    align-items: baseline;
  }

  .nav-footer-list h5 {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .footer-list {
    flex-direction: column;
    gap: 20px;
    align-items: baseline;
  }

  footer {
    padding: 10px 0px 20px 0px;
  }
}
