.container {
  padding-top: 150px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  height: 82vh;
  width: 100vw;
  margin-bottom: 20px;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: --button-bg-color;
  border: none;
  color: --button-color;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  justify-content: center;
}