<section class="container content">
  <article class="tile" *ngFor="let item of data">
    <div class="tile-content" *ngIf="item.imageUrl && item.title">
      <h2>{{ item.title }}</h2>
      <img [src]="item.imageUrl" />

      <div *ngIf="item.summary || item.newsSite || item.publishedAt">
        <p class="tile-summary" *ngIf="item.summary">{{ item.summary }}</p>

        <div class="link-wrapper">
          <a
            class="tile-link"
            *ngIf="item.newsSite"
            [href]="item.url"
            target="_blank"
            >{{ item.newsSite }}</a
          >
        </div>

        <p *ngIf="item.publishedAt">{{ item.publishedAt }}</p>
      </div>
    </div>
  </article>
</section>
