.content {
  color: var(--main-text-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  padding-top: 150px;
  padding-bottom: 50px;
  margin: 0 auto;
  gap: 40px;
}

@media (max-width: 7680px) {
  .content {
    grid-template-columns: repeat(8, 1fr);
    justify-content: space-between;
  }
}

@media (max-width: 4096px) {
  .content {
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
  }
}

@media (max-width: 2560px) {
  .content {
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
  }
}

@media (max-width: 1920px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
  }
}

@media (max-width: 1300px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .content {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

.tile {
  max-width: 960px;
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
}

.tile img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 7px;
  margin-bottom: 15px;
}

.tile-summary {
  margin-bottom: 20px;
}

.link-wrapper {
  width: fit-content;
  height: fit-content;
  margin-bottom: 20px;
}

.tile-link {
  padding: 15px 15px 15px 0px;
}

.tile h2 {
  margin-bottom: 20px;
}

.tile-content {
  padding: 10px;
}

a {
  color: var(--highlight-color);
}

a:hover,
a:focus {
  color: var(--main-link-hover-color);
}
