.content {
  color: var(--main-text-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 50px;
  margin: 0 auto;
  gap: 40px;
}

@media (max-width: 7680px) {
  .content {
    padding-top: 35px;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
  }
}

@media (max-width: 4096px) {
  .content {
    padding-top: 35px;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
  }
}

@media (max-width: 2560px) {
  .content {
    padding-top: 35px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
  }
}

@media (max-width: 1920px) {
  .content {
    padding-top: 35px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
  }
}

@media (max-width: 1500px) {
  .content {
    padding-top: 35px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }
}

@media (max-width: 800px) {
  .content {
    padding-top: 35px;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
}

.tile {
  max-width: 960px;
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
}

.tile img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 7px;
  margin-bottom: 15px;
}

.tile-summary {
  margin-bottom: 20px;
}

.tile h5 {
  margin-bottom: 20px;
}

.tile-content {
  padding: 10px;
}

.sol {
  margin-bottom: 15px;
}

.text-content {
  margin-bottom: 30px;
}

.tile-head {
  margin-bottom: 20px;
}
