.content {
  color: var(--main-text-color);
  padding-top: 120px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.apod-image-card {
  border: 1px solid var(--main-text-color);
  padding: 15px;
  margin: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

  .image-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .image-explanation {
    margin-bottom: 10px;
  }

  .image {
    width: 100%;
    max-width: 3800px;
    display: block;
    margin: 0 auto 15px;
  }

  .video-container {
    position: relative;
    width: 100%;
    max-width: 3800px;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin: 0 auto 15px;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media (max-width: 600px) {
      .video-container {
          padding-bottom: 75%;
      }
  }  
}

  .image-copyright {
    font-style: italic;
    margin-bottom: 10px;
  }

  .image-date {
    margin-bottom: 10px;
  }

  .hd-link {
    display: block;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    &:hover {
      background-color: #0056b3;
    }
  }
}