<section
  class="container content"
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="200"
  (scrolled)="onScrollDown()"
>
  <article *ngFor="let item of filteredData | dataSort : 'date'">
    <div class="apod-image-card" *ngIf="item.url && item.title">
      <h2 class="image-title">{{ item.title }}</h2>
      <p class="image-explanation">{{ item.explanation }}</p>
      <div class="video-container" *ngIf="isYouTubeLink(item.url)">
        <iframe
          [src]="getSafeUrl(item.url)"
          allowfullscreen="true"
          referrerpolicy="no-referrer"
          frameborder="0"
        ></iframe>
      </div>
      <img class="image" *ngIf="!isYouTubeLink(item.url)" [src]="item.url" />
      <div>
        <p class="image-copyright">{{ item.copyright }}</p>
        <p class="image-date">{{ item.date }}</p>
        <a
          class="hd-link"
          *ngIf="!isYouTubeLink(item.url)"
          [href]="item.hdurl"
          target="_blank"
          >HD image</a
        >
      </div>
    </div>
  </article>
</section>
