/* You can add global styles to this file, and also import other style files */
@import "node_modules/modern-normalize/modern-normalize.css";
@import "themes";

html {
  scrollbar-color: #393e46 #67707e;
  scrollbar-width: thin;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  text-decoration: none;
  text-transform: none;
  font-size: 0.9vw;
  font-weight: 400;
  font-style: normal;
  //font-family: "Roboto", sans-serif;
  //font-family: "Noto Sans", sans-serif;
  //font-family: "PT Sans", sans-serif;
  font-family: "Source Sans 3", sans-serif;
  background: var(--main-bg-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 7680px;
  padding-left: 90px;
  padding-right: 90px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.info-text {
  font-size: 4.8vw;
  color: aliceblue;
  padding-top: 18%;
  padding-bottom: 18%;
  text-align: center;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.pagination-controls button {
  background-color: var(--button-bg-color);
  color: var(--button-color);
  border: none;
  text-decoration: none;
  display: inline-block;
  padding: 15px 32px;
}
