[data-theme="dark"] {
  /*Common*/
  --button-color: #00adb5;
  --highlight-color: #eee;
  /*------------------------------*/

  /*Body*/
  --main-bg-color: #393e46;
  --main-text-color: #eee;
  --main-link-hover-color: #00adb5;
  /*------------------------------*/

  /*Header & footer*/
  --second-bg-color: #222831;
  --second-text-color: #eee;
  --second-link-hover-color: #00adb5;
  --search-bar-bg-color: #393e46;
  --search-bar-text-color: #eee;
  --footer-link-color: #afafaf;
  /*------------------------------*/
}

[data-theme="light"] {
  /*Common*/
  --button-color: #333c4a;
  --highlight-color: #495664;
  /*------------------------------*/

  /*Body*/
  --main-bg-color: #f9f9f9;
  --main-text-color: #000;
  --main-link-hover-color: #495664;
  /*------------------------------*/

  /*Header & footer*/
  --second-bg-color: #495664;
  --second-text-color: #f8fceb;
  --second-link-hover-color: #f6f7d3;
  --search-bar-bg-color: #333c4a;
  --search-bar-text-color: #fff;
  --footer-link-color: #afafaf;
  /*------------------------------*/
}
