[data-theme="dark"] {
  /*Common*/
  --button-bg-color: #00adb5;
  --button-color: #fff;
  --button-bg-color-hover: #008a90;
  --highlight-color: #bdbdbd;
  /*------------------------------*/

  /*Body*/
  --main-bg-color: #393e46;
  --main-text-color: #eee;
  --main-link-hover-color: #00adb5;
  /*------------------------------*/

  /*Header & footer*/
  --second-bg-color: #222831;
  --second-text-color: #eee;
  --second-link-hover-color: #00adb5;
  --search-bar-bg-color: #393e46;
  --search-bar-text-color: #eee;
  --icon-color: #00adb5;
  --icon-color-hover: #008a90;
  --close-button-color: #00adb5;
  --close-button-color-hover: #008a90;
  --footer-link-color: #afafaf;
  /*------------------------------*/
}

[data-theme="light"] {
  /*Common*/
  --button-bg-color: #333c4a;
  --button-color: #eee;
  --button-bg-color-hover: #1e232b;
  --highlight-color: #000;
  /*------------------------------*/

  /*Body*/
  --main-bg-color: #f9f9f9;
  --main-text-color: #000;
  --main-link-hover-color: #495664;
  /*------------------------------*/

  /*Header & footer*/
  --second-bg-color: #495664;
  --second-text-color: #f8fceb;
  --second-link-hover-color: #f6f7d3;
  --search-bar-bg-color: #333c4a;
  --search-bar-text-color: #fff;
  --icon-color: #fff;
  --icon-color-hover: #a9a9aa;
  --close-button-color: #eee;
  --close-button-color-hover: #333c4a;
  --footer-link-color: #afafaf;
  /*------------------------------*/
}
